* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border: 1px solid #000000;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.content {
  display: grid;
  position: relative;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;

  grid-template-columns: 250px 1fr 250px;

  padding: .5em;
  gap: .5em;

  background: #CDDAFD;
}

.content > div {
  border-radius: .5em;
}

.lside, .rside, .controls, .action-buttons {
  display: flex;
  flex-direction: column;
  padding: .5em;
  gap: .5em;
}

.lside, .rside, .chat-wrap, .tasks-wrap {
  background: #DFE7FD;
  overflow-y: auto;
}

.lside {
  justify-content: space-between;
}

.lside > div {
  display: flex;
  flex-direction: column;
  gap: .4em;
}

.rside {
  text-align: right;
}

.main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  overflow: hidden;

  gap: .5em;
}

.main > div {
  border-radius: .5em;
}

.task, .message {
  padding: .5em;
  background: #EAE4E9;
  border-radius: .5em;
  border: var(--border);
}

.send-forms {
  display: grid;
  gap: .5em;
}

.main h1 {
  text-align: center;
}

.chat-wrap,
.tasks-wrap {
  padding: .5em;
  overflow-y: auto;
}

#tasks, #chat, #peers {
  display: grid;
  gap: .5em;
}

.controls {
  background: #EAE4E9;
  border: var(--border);
  border-radius: .5em;
  gap: .2em;
}

.controls > button {
  background: #EAE4E9;
  border: var(--border);
  border-radius: .5em;
  padding: .2em 0;
}

.controls > button:hover {
  background: #DFE7FD;
  transition: background 200ms ease-in-out;
}

.controls > input {
  border-radius: .5em;
  border: var(--border);
  padding: .2em .5em;
  
  color: black;
}

.action {
  text-align: center;
  font-size: small;
  border-radius: .5em;
  padding: .2em 0;
  
  background: #EAE4E9;
  border: 1px solid;
}

.action:hover {
  background: #DFE7FD;
  transition: background 200ms ease-in-out;
}

.action-buttons {
  margin-top: .5em;
  gap: .2em;
  padding: 0;
}

.peer {
  background: #EAE4E9;
  border: var(--border);

  padding: .5em;
  border-radius: .5em;
}

.peer:hover {
  background: #DFE7FD;
  transition: background 200ms ease-in-out;
}

.hint {
  background: #EAE4E9;
  border: var(--border);

  height: fit-content;
  white-space: pre-line;
  cursor: pointer;

  border-radius: .5em;
  padding: .5em;
}

.clickable {
  cursor: pointer;
}

.private {
  background: #FAD2E1;
}