* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.content {
  display: grid;
  position: relative;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;

  grid-template-columns: 250px 1fr 250px;
}

.lside, .rside, .actions-wrap {
  display: flex;
  flex-direction: column;
  padding: .4em;
  gap: .4em;
}

.lside {
  background: rgb(200, 255, 255);
  justify-content: space-between;
}

.lside > div {
  display: flex;
  flex-direction: column;
  gap: .4em;
}

.rside {
  background: rgb(255, 255, 200);
  text-align: right;
}

.main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  overflow: hidden;
}

.task, .message {
  padding: .5em;
  background: rgb(255, 200, 255);
}

.send-forms, .controls {
  display: grid;
  gap: .2em;
}

.main h1 {
  text-align: center;
}

.tasks-wrap {
  background: rgb(200, 200, 255);
  overflow-y: auto;
}

#tasks, #chat {
  display: grid;
  gap: .4em;
}

.actions-wrap {
  background: rgb(150, 200, 200);
}

.action {
  background: rgb(200, 150, 200);
  text-align: center;
}

.action:hover {
  background: rgb(200, 200, 150);
  transition: background 200ms ease-in-out;
}

.peer {
  background: rgb(150, 150, 200);
}

.peer:hover {
  background: rgb(150, 200, 150);
  transition: background 200ms ease-in-out;
}

.chat-wrap {
  background: rgb(200, 255, 200);
  overflow-y: auto;
}


.hint {
  background: rgb(200, 200, 200, 0.8);
  height: fit-content;
  white-space: pre-line;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.private {
  background: rgb(255, 200, 200);
}